a*>ESP32<

*MOSFET instead of relay?
-If applicable for high current 25A (or 15A).
-If REPLACEABLE.

*Overload protection?

*2 thermocouple connected through MAX6675K.

*A waterproof connector.

*Let's pray that will be the last version of the PCB.

